/* Google Fonts Schriftarten (Roboto und Playwrite CU) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* Grundfarben */
  --background-color: #2e2e2e; /* Dunkleres Grau für den Hintergrund des Bodys */
  --text-color: #f0f0f0; /* Helles Grau für den Haupttext */
  --heading-color: #ffffff; /* Weiß für die Überschriften */

  /* Akzentfarben */
  --primary-color: #1c7ed6; /* Dunkleres Blau für Links und Buttons */
  --secondary-color: #238636; /* Dunkleres Grün für positive Aktionen */
  --warning-color: #d97706; /* Etwas dunkleres Orange für Hinweise oder Warnungen */

  /* Hintergrundfarben für Abschnitte */
  --section-bg-color-light: #4a4a4a; /* Mittleres Grau für abwechselnde Abschnitte */
  --section-bg-color-dark: #383838; /* Dunkleres Grau für abwechselnde Abschnitte */

  /* Glass-Effekte */
  --glass-bg: rgba(255, 255, 255, 0.2); /* Glasartiger Hintergrund */
  --glass-border: rgba(255, 255, 255, 0.3); /* Glasartiger Rand */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  color: var(--heading-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.warning {
  color: white;
  background-color: var(--warning-color);
  padding: 10px;
  border-radius: 5px;
}

.section-light {
  background-color: var(--section-bg-color-light);
}

.section-dark {
  background-color: var(--section-bg-color-dark);
}

header {
  background: var(--glass-bg); /* Glasartiger Hintergrund */
  border: 1px solid var(--glass-border); /* Glasartiger Rand */
  border-radius: 10px; /* Abgerundete Ecken für einen sanften Look */
  backdrop-filter: blur(10px); /* Unscharfer Hintergrund für den Glass-Effekt */
  padding: 10px; /* Innenabstand für bessere Lesbarkeit */
  position: sticky; /* Sticky Header, bleibt immer am Bildschirmanker */
  top: 0; /* Positionierung am oberen Rand des Bildschirms */
  z-index: 10; /* Höherer Z-Index, damit der Header über andere Elemente sichtbar ist */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

header img {
  width: 60px;
  height: 60px;
}

p {
  font-size: 1.2rem; /* Größe des Untertitels */
  color: var(--text-color);
  margin-top: 10px;
}

main {
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Overlay-Stil */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Dunkler Hintergrund für das Overlay */
  display: none; /* Standardmäßig ausgeblendet */
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 1000; /* Sicherstellen, dass das Overlay über anderen Inhalten liegt */
}

.overlay-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  animation: fadeIn 0.5s; /* Fade-In-Animation für das Bild */
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.closebtn:hover {
  color: #f00; /* Farbe ändern, wenn Hover */
}

/* Standard Layout: Bilder und Texte nebeneinander */
.image-text-wrapper {
  display: flex;
  flex-direction: row; /* Standard: Bilder und Texte nebeneinander */
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 20px;
  background: var(--section-bg-color-light); /* Hintergrundfarbe für den Abschnitt */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: wrap; /* Verhindert das Erstellen von sehr kleinen Boxen */
}

.image-text-wrapper img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  flex: 1 1 50%; /* Bild nimmt 50% des Containers ein */
}

.image-text-wrapper .text {
  padding: 20px;
  flex: 1 1 50%;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  min-width: 300px; /* Stellt sicher, dass der Textbereich nicht zu klein wird */
}

.image-text-wrapper.reverse {
  flex-direction: row-reverse;
}

.image-text-wrapper.reverse img {
  order: 1;
}

.image-text-wrapper.reverse .text {
  order: 2;
}

h1 {
  font-family: "Playwrite CU", cursive;
}

/* Responsive Design für kleinere Bildschirme */
@media (max-width: 558px) {
  h1 {
    font-size: 20px;
  }
  .image-text-wrapper {
    flex-direction: column; /* Bei kleinerer Breite: Bilder und Texte untereinander */
    text-align: center;
  }

  .image-text-wrapper img {
    max-width: 100%; /* Bild auf volle Breite */
  }

  .image-text-wrapper .text {
    max-width: 100%;
    min-width: 100%; /* Text auf volle Breite */
    text-align: left;
  }
}